<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SULTAN CRM</title>
    <link href="../public/fonts/fontawesome-free/css/all.css" rel="stylesheet" type="text/css">
    <link
            href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
            rel="stylesheet">
    <link href="../public/css/dataTables.bootstrap4.css">
    <link rel="icon" type="image/x-icon" href="../public/img/logo.jpeg">

    <!-- Custom styles for this template-->
    <link href="../public/css/sb-admin-2.css" rel="stylesheet">
    <style>
        #barcode {
            display: none;
        }

    </style>
</head>

<body id="page-top">
<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">SULTAN CRM<sup>6</sup></div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="/">
                <i class="fas fa-fw fa-tachometer-alt"></i>
                <span>Dashboard</span></a>
        </li>
        <hr class="sidebar-divider">
        <li class="nav-item ">
            <a class="nav-link" href="search">
                <i class="fas fa-fw fa-table"></i>
                <span>Done</span></a>
        </li>


        <hr class="sidebar-divider">
        <li class="nav-item">
            <a class="nav-link" href="tickets">
                <i class="fas fa-fw fa-table"></i>
                <span>Tickets</span></a>
        </li>
        <hr class="sidebar-divider">
        <li class="nav-item ">
            <a class="nav-link" href="customers">
                <i class="fas fa-fw fa-table"></i>
                <span>Customers</span></a>
        </li>
        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">
            <div>
                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <form class="form-inline">
                        <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                            <i class="fa fa-bars"></i>
                        </button>
                    </form>


                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-2 d-none d-lg-inline text-gray-600 small">Sultan Technology</span>
                                <img class="img-profile rounded-circle"
                                     src="../public/img/logo.jpeg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <div class="container">

                        <!-- Outer Row -->
                        <div class="row justify-content-center">
                        <img src="../public/img/sultan.png" class="img-fluid" height="800px" width="400px" >

                            <div class="col-xl-10 col-lg-12 col-md-9">

                                <div class="card o-hidden border-0 shadow-lg my-5">
                                    <div class="card-body p-0">
                                        <!-- Nested Row within Card Body -->
                                        <div class="logo" style="margin-left: 20px">
                                            <div class="row" class="col-lg-6 d-none d-lg-block ">
                                                <div class="p-5 col-lg-6">
                                                    <div class="form-group brand-icons">
                                                        <img src="../public/img/apple.png" alt="Apple" data-brand="apple-phones-48" class="brand-icon">
                                                        <img src="../public/img/samsung.png" alt="Samsung" data-brand="samsung-phones-9" class="brand-icon">
                                                        <img src="../public/img/xiaomi.png" alt="Xiaomi" data-brand="xiaomi-phones-80" class="brand-icon">
                                                        <img src="../public/img/vivo.png" alt="Vivo" data-brand="vivo-phones-98" class="brand-icon">
                                                        <img src="../public/img/playstation.png" alt="Sony" data-brand="Sony" class="brand-icon">
                                                        <img src="../public/img/xbox.svg.png" alt="Xbox" data-brand="Xbox" class="brand-icon">
                                                    </div>

                                                    <div class="form-group">
                                                    <select id="phoneModel" class="form-control form-control-user">
                                                        <option value="">Select Model</option>
                                                    </select>
                                                </div>
                                                    <div id="phoneImageContainer">
                                                        <img id="phoneImage" src="" alt="Selected Phone Image" style="display: none;">
                                                    </div>

                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="p-5">
                                                        <form class="user">
                                                            <div class="form-group">
                                                                <input id="name" type="text"
                                                                       class="form-control form-control-user"
                                                                       placeholder="Name" autofocus required>
                                                            </div>
                                                            <div class="form-group">
                                                                <input id="tel" type="number"
                                                                       class="form-control form-control-user"
                                                                       placeholder="Phone" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <input id="issue" type="text"
                                                                       class="form-control form-control-user"
                                                                       placeholder="Issue" required>
                                                            </div>
                                                            <div class="form-group">
                                                                <div class="form-group row">
                                                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                                                        <input id="passcode" type="text"
                                                                               class="form-control form-control-user"
                                                                               placeholder="Passcode">
                                                                    </div>
                                                                    <div class="col-sm-6">
                                                                        <input id="price" type="text"
                                                                               class="form-control form-control-user"
                                                                               placeholder="Price" required>
                                                                    </div>
                                                                </div>
                                                            </div>

                                                            <button id="addBtn"
                                                                    class="btn btn-primary btn-user btn-block">
                                                                ADD
                                                            </button>

                                                        </form>

                                                        <!-- generate barcode and print it -->
                                                            <canvas id="barcode"></canvas>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <a class="scroll-to-top rounded" href="#page-top">
                    <i class="fas fa-angle-up"></i>
                </a>

                <!-- Logout Modal-->
                <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">×</span>
                                </button>
                            </div>
                            <div class="modal-body">Select "Logout" below if you are ready to end your current session.
                            </div>
                            <div class="modal-footer">
                                <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                                <a id="logout" class="btn btn-primary">Logout</a>
                            </div>
                        </div>
                    </div>
                </div>
                </div>




            </div>
        </div>
 <footer class="sticky-footer bg-white">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Your Website 2023</span>
                </div>
            </div>
        </footer>
    </div>
</div>


<script src="../public/js/jquery.js"></script>
<script src="../public/js/bootstrap.bundle.js"></script>

<!-- Firebase App (the core Firebase SDK) is always required and must be listed first -->
<script type="module" src="https://www.gstatic.com/firebasejs/9.1.3/firebase-app.js"></script>

<!-- Add additional services that you want to use -->
<script type="module" src="https://www.gstatic.com/firebasejs/9.1.3/firebase-auth.js"></script>
<script type="module" src="https://www.gstatic.com/firebasejs/9.1.3/firebase-database.js"></script>
<script type="module" src="https://www.gstatic.com/firebasejs/9.1.3/firebase-app-compat.js"></script>
<script type="module" src="https://www.gstatic.com/firebasejs/9.1.3/firebase-app.js"></script>
<script type="module" src="https://www.gstatic.com/firebasejs/9.1.3/firebase-firestore-compat.js"></script>
<script type="module" src="https://www.gstatic.com/firebasejs/9.1.3/firebase-auth-compat.js"></script>
<!-- Initialize Firebase -->

<script type="module" src="../public/js/script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.0/dist/JsBarcode.all.min.js"></script>

<script src="../public/js/sb-admin-2.js"></script>

</body>

</html>
